$egyik-szin: #031A6B;
$masik-szin: #3F4739;
$harmadik-szin: #3581B8;
$negyedik-szin: #FCB07E;
$otodik-szin: #97df07;


section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

