rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Felhasznalo/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update, delete: if false;
    }
    
    match /Kamera/{kameraId} {
      allow create, update, delete: if request.auth != null;
      allow read: if true;
    }
  }
}
