<h1>Kamera hozzáadása</h1>
<form (ngSubmit)="ujKameraLathataron()">
    <mat-form-field appearance="outline">
      <mat-label>Település</mat-label>
      <input matInput type="text" [formControl]="telepules" required>
      <mat-icon matSuffix>building</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Helyszín</mat-label>
      <input matInput type="text" [formControl]="helyszin" required>
      <mat-icon matSuffix>building</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>URL/link</mat-label>
        <input matInput type="text" [formControl]="link" required>
        <mat-icon matSuffix>building</mat-icon>
      </mat-form-field>
    <br>
    <button mat-flat-button type="submit">Lődd fel a kamerát, hadd lássuk!</button>
    
</form>
